*.class
.idea
*.ipr
*.iml
*.iws
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
gradle
gradlew
gradlew.bat
.gradle
*/build
out/
build/

# generated css files
*.css
*.css.map

.sass-cache
.jruby

integration/smoke_tests/vendor
integration/smoke_tests/.bundle
.gradletasknamecache