@charset "UTF-8";

.events {
  padding: 0;
  margin: 0;
}

.event {
  border-top: 1px solid $border__colour--dark;
  display: block;
  list-style: none;
  padding: 50px 40px 50px 40px;
  position: relative;
  &:before {
    display: block;
    position: absolute;
    height: 20px;
    top: 50px;
    left: 10px;
  }
}

.event--offer {
  background-color: $background__colour--theme--secondary;
  border-top: 3px solid $border__colour--theme;
}

.event--you {
  &:before {
    content: "→";
  }
}

.event--them {
  &:before {
    content: "←";
  }
}

.event__heading {
  @include text($base__font-size);
  padding: 0;
  margin-top: 0;
}

.event__heading--strong {
  font-weight: bold;
}

.event__subheading {
  padding: 0;
  margin: 0;
}

.event__step {
  margin-top: 7px;
  margin-bottom: 7px;
}

.event__date {
  @include text($base__font-size--xsmall, "", "", $text__colour--secondary);
  position: absolute;
  right: 10px;
  top: 10px;
}

.event__swap {
  margin: 20px auto;
  text-align: center;
  position: relative;
  &:before {
    content: "→ ←";
    display: block;
    margin-left: -0.5em;
    width: 1em;
    height: 2em;
    margin-top: -1em;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  &.event__swap-accepted:before {
    content: "✔";
  }
}

.event__rota {
  @include text($base__font-size--small);
  @include border-radius(5px);
  background-color: $background__colour--theme--secondary;
  display: inline-block;
  padding: 20px 30px;
  text-align: center;
  &:first-child {
    margin-bottom: 30px;
  }
  @include media(tablet) {
    &:first-child {
      margin-bottom: 0;
      margin-right: 30px;
    }
    &:last-child {
      margin-left: 30px;
    }
  }
  .event__swap-confirmed & {
    background-color: $background__colour--swap;
  }
}

.event__rota-shift {
  @include text($base__font-size--xlarge, "", "", "", bold);
}

.event__actions {
  text-align: center;
}

.event__action {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  &:first-child {
    margin-right: 20px;
  }
}