/*
 * Header styles
 *
 * Requires: [shims, helpers, colours, typography]
 */

.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: #000000;
  padding: 0.2em 0;
}

header {
  margin-bottom : 15px;
}

.header__banner {
  @extend %contain-floats;
  background-color: $background__colour--theme--secondary;
  border-top: 3px solid $background__colour--theme--primary;

  @include media(mobile){
    margin-bottom: 1%;
  }

  @include media(tablet){
    margin-bottom: 2%;
  }

  @include media(desktop){
    margin-bottom: 4%;
  }

  .header__logo {
    @include gutter(left);
    float: left;
  }

  .phase-tag {
    color: $text__colour--theme;
    font-weight: normal;
  }

  .user-settings {
    background: url(/images/swappr.png) no-repeat;
    background-position: right -129px;
    float: right;
    margin: 16px 0;
    @include gutter(right);
    padding-right: 35px;
    position: relative;

    &:hover {
      .user-settings__list {
        display: block;
      }
    }
  }

  .user-settings__list {
    background-color: $background__colour--theme--secondary;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: right;
    width: 100%;
  }

  .user-settings__list-item {
    a {
      display: block;
      padding: 5px 30px 5px 0;
      padding-right: 30px;
    }
  }
}
