/*
 * Header styles
 *
 * Requires: [shims, helpers, colours, typography]
 */

.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: #000000;
  padding: 0.2em 0;
}

header {
  margin-bottom : 15px;
}

.header__banner {
  @extend %contain-floats;
  background-color: $background__colour--theme--secondary;
  border-top: 3px solid $background__colour--theme--primary;

  @include media(mobile){
    margin-bottom: 1%;
  }

  @include media(tablet){
    margin-bottom: 2%;
  }

  @include media(desktop){
    margin-bottom: 4%;
  }

  .header__logo {
    @include gutter(left);
    float: left;
  }

  .phase-tag {
    color: $text__colour--theme;
    font-weight: normal;
  }

  .user-settings {
    @include text($base__font-size--xsmall);
    @include gutter(right);
    float: right;
    margin: 16px 0;
    position: relative;
  }

  .user-settings__trigger {
    @extend %button-reset;
    padding-right: 32px;
    position: relative;
    &.is-active + .user-settings__list {
      display: block;
    }
    &:after {
      content: "";
      display: block;
      background: url(/images/swappr.png) no-repeat;
      background-position: 0 -129px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      right: 0;
    }
  }

  .user-settings__list {
    background-color: $background__colour--theme--secondary;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 100px;
    width: 100%;
  }

  .user-settings__list-link {
    a {
      display: block;
      padding: 5px 30px 5px 0;
      padding-right: 30px;
    }
  }
}
