.notification {
  background-color: $background__colour--notification;
  border: 1px solid $text__colour--notification;
  margin-bottom: 20px;
  padding: 6px;
  padding-left: 38px;
  position: relative;
  &:before {
    @extend %icon;
    left: 12px;
  }
}

.notification--error {
  background-color: $background__colour--error;
  border-color: $text__colour--error;

}


.notification--awaiting:before {
  @extend %icon-wait;
}