#set($pageTitle = 'Request a swap')
<h1>Request swap</h1>
<p>Choose the date and shift type.</p>
<form action="/swap/create" method="POST">
    <fieldset>
        <legend>Current shift</legend>
        #springBind("swap.validFromDate")
        #if($status.errorMessages)
            #springShowErrors("" "error")
        #end
        <label class="block-label" for="fromDay">
            <span>Day</span>
            #springFormInput("swap.fromDay")
        </label>
        <label class="block-label" for="fromMonth">
            <span>Month</span>
            #springFormInput("swap.fromMonth")
        </label>
        <label class="block-label" for="fromYear">
            <span>Year</span>
            #springFormInput("swap.fromYear")
        </label>
        <label class="block-label" for="fromShiftType">
            <span>Shift</span>
            #springFormSingleSelect("swap.fromShiftType", ${shifts})
        </label>
    </fieldset>
    <fieldset>
        <legend>Swapp shift</legend>
        #springBind("swap.validToDate")
        #if($status.errorMessages)
            #springShowErrors("", "error")
        #end
        <label class="block-label" for="toDay">
            <span>Day</span>
            #springFormInput("swap.toDay")
        </label>
        <label class="block-label" for="toMonth">
            <span>Month</span>
            #springFormInput("swap.toMonth")
        </label>
        <label class="block-label" for="toYear">
            <span>Year</span>
            #springFormInput("swap.toYear")
        </label>
        <label class="block-label" for="toShiftType">
            <span>Shift</span>
            #springFormSingleSelect("swap.toShiftType", ${shifts})
        </label>
    </fieldset>
    <p>
        <input type="submit" value="submit"/>
    </p>
</form>