<div class="header__banner">
    <h1 class="header__logo">Swappr.<span class="phase-tag">alpha</span></h1>

##  TODO: if logged in
    <div class="user-settings">Jane King<span class="hidden"> Settings</span>
        <ul class="user-settings__list">
##  TODO if admin
            <li class="user-settings__list-item"><a href="#">Admin</a></li>
            <li class="user-settings__list-item"><a href="/logout">Logout</a></li>
        </ul>
    </div>
##  endif
</div>

##  TODO: if logged in
#parse('main_nav.vm')
##  endif
