#* @vtlvariable name="rotasByMonth" type="java.util.Map<java.time.Month, java.util.List<uk.gov.homeofficedigital.swappr.controllers.views.DayView>>" *#
#set($pageTitle = 'My swaps')
#set($tab = 'home')

#if ($flashType == 'addShift')
    <div class="notification notification--awaiting">Shift added</div>
#end
#if ($flashType == 'createSwap')
<div class="notification notification--awaiting">New swap created</div>
#end
#if ($flashType == 'volunteerSwap')
<div class="notification notification--awaiting">Volunteered to swap</div>
#end
#if ($flashType == 'acceptSwap')
<div class="notification notification--awaiting">Swap accepted</div>
#end

#foreach($rotaMonth in $rotasByMonth.keySet())
    #set($rotaViews = $rotasByMonth.get($rotaMonth))
    <a href="/shifts/new" class="submit-button submit-button--right-lowered">Add shifts<span class="hidden"> for $display.month($rotaMonth)</span></a>
    <table>
        <caption class="h1"><span class="secondary-text">You / </span>$display.month($rotaMonth)</caption>
        <thead class="hidden">
        <tr>
            <th scope=col class="table__cell--date">Date</th>
            <th scope=col class="table__cell--shift">Shift</th>
            <th scope=col class="table__cell--action">Action</th>
            <th scope=col class="table__cell--status">Status</th>
        </tr>
        </thead>
        <tbody>
            #foreach($dayView in $rotaViews)

                <tr class="t-day" data-t-date="$display.isoDate($dayView.day)">
                  <td class="table__cell--date"><span class="table__day">$dayView.day.dayOfMonth</span> <span class="secondary-text">${display.day($dayView.day)}</span></td>
							#if($dayView.rotaView.isPresent())
								#set($rotaView = $dayView.rotaView.get())

									#if($rotaView.approvedVolunteer.isPresent())
										<td class="table__cell--shift">
											$rotaView.rota.shift.type.label $rotaView.rota.shift.type - Swapped with $rotaView.approvedVolunteer.get().swapFrom.worker.username
										</td>
										<td class="table__cell--action">
												<span class="action-button action-button--disabled action-button--swapped" title="Shift swapped">Shift swapped</span>
										</td>
										<td class="secondary-text table__cell--status">
												Confirmed
										</td>
									#elseif(!$rotaView.offers.isEmpty())
                      <td class="table__cell--shift">
												$rotaView.rota.shift.type.label $rotaView.rota.shift.type
                      </td>
											<td class="table__cell--action">
												#foreach($offer in $rotaView.getOffers())
                          <span class="action-button action-button--disabled action-button--wait" title="In progress">In progress</span>
												#end
											</td>
                      <td class="secondary-text table__cell--status">
													##TODO - if someone has volunteered to accept offer, show details
												#foreach($offer in $rotaView.getOffers())
                        	<a href="/swap/$offer.id">You've requested a swap</a> <span class="icon-arrow-right">for</span> <span class="t-offer-shift-type">$offer.swapTo.type</span> on $display.fullDate($offer.swapTo.date)
												#end
                      </td>
									#elseif (!$rotaView.volunteers.isEmpty())
                      <td class="table__cell--shift">
												$rotaView.rota.shift.type.label $rotaView.rota.shift.type
                      </td>
                      <td class="table__cell--action">
                          <span class="action-button action-button--disabled action-button--wait" title="In progress">In progress</span>
                      </td>
                      <td class="t-status secondary-text table__cell--status">
												#foreach($volunteer in $rotaView.volunteers)
													#set($otherRota = $volunteer.swapTo.swapFrom)
                        <a href="/swap/$volunteer.swapTo.id">You've volunteered to swap</a> $rotaView.rota.shift.type.label $rotaView.rota.shift.type <span class="icon-arrow-right">for</span> $otherRota.shift.type.label $otherRota.shift.type with $otherRota.worker.username on $otherRota.shift.date
												#end

                      </td>

									#else
                      <td class="table__cell--shift">
												$rotaView.rota.shift.type.label $rotaView.rota.shift.type
                      </td>
                      <td class="table__cell--action">
                          <a href="/swap/new?rotaId=$rotaView.rota.id" class="t-swap-shift action-button action-button--swap" title="Request swap">Request swap</a>
                      </td>
                      <td class="secondary-text table__cell--status"></td>
									#end

							#else
                  <td class="table__cell--shift"></td>
                  <td class="table__cell--action"><a href="/shifts/new?shiftDate=$display.isoDate($dayView.day)" class="t-add-shift action-button action-button--add" title="Add shift">Add shift</a></td>
                  <td class="secondary-text table__cell--status"></td>
							#end

                </tr>



##                    #if($rotaView.offers.isEmpty())
##                        <a href="/swap/$rotaView.rota.id" class="action-button action-button--swap" title="Request swap">Request swap</a>
##                    #else
##                        #foreach($offer in $rotaView.offers)
##                            #if($offer.status.name() == 'APPROVED')
##                                <span class="action-button--disabled action-button--swapped" title="Shift swapped">Shift swapped</span>
##                            #else
##                                <span class="action-button--disabled action-button--wait" title="In progress">In progress: $offer</span>
##                            #end
##                        #end
##                    #end
            #end
        </tbody>
    </table>
#end

<!--
    Scenarios:
        <tr>
            <td class="table__cell--date"><span class="h3">03</span> <span class="secondary-text">Friday</span></td>
            <td class="table__cell--shift">S1H</td>
            <td class="table__cell--action"><a href="/swap" class="action-button action-button--swap" title="Request swap">Request swap</a></td>
            <td class="secondary-text table__cell--status"></td>
        </tr>
        <tr>
            <td class="table__cell--date"><span class="h3">17</span> <span class="secondary-text">Tuesday</span></td>
            <td class="table__cell--shift">Swapped with <a href="#">Paul B</a></td>
            <td class="table__cell--action"><span class="action-button--disabled action-button--wait" title="In progress">In progress</span></td>
            <td class="secondary-text table__cell--status">Waiting authorization</td>
        </tr>
        <tr>
            <td class="table__cell--date"><span class="h3">27</span> <span class="secondary-text">Tuesday</span></td>
            <td class="table__cell--shift">Swapped with <a href="#">Paul B</a></td>
            <td class="table__cell--action"><span class="action-button--disabled action-button--swapped" title="Shift swapped">Shift swapped</span></td>
            <td class="secondary-text table__cell--status">Confirmed</td>
        </tr>
        <tr>
            <td><span class="h3 table__cell--date">28</span> <span class="secondary-text">Tuesday</span></td>
            <td class="table__cell--shift"></td>
            <td class="table__cell--action"><a href="#" class="action-button action-button--add" title="Add shift">Add shift</a></td>
            <td class="secondary-text table__cell--status"></td>
        </tr> -->
