#* @vtlvariable name="rotasByMonth" type="java.util.Map<java.time.Month, java.util.List<uk.gov.homeofficedigital.swappr.controllers.views.DayView>>" *#
#set($pageTitle = 'My swaps')
#set($tab = 'home')

#if ($flashType == 'addShift')
<div class="notification notification--awaiting">Shift added</div>
#end
#if ($flashType == 'createSwap')
<div class="notification notification--awaiting">New swap created</div>
#end
#if ($flashType == 'volunteerSwap')
<div class="notification notification--awaiting">Replied to offer</div>
#end
#if ($flashType == 'acceptSwap')
<div class="notification notification--awaiting">Swap accepted</div>
#end

#foreach($rotaMonth in $rotasByMonth.keySet())
	#set($rotaViews = $rotasByMonth.get($rotaMonth))
<div class="timeline__heading-container">
<h1 class="timeline__heading"><span class="secondary-text">You / </span>$display.month($rotaMonth)</h1>
<a href="/shifts/new" class="submit-button submit-button--right-lowered">Add shifts<span
        class="hidden"> for $display.month($rotaMonth)</span></a>
</div>
<ol class="timeline__days">
	#foreach($dayView in $rotaViews)
	## Each scenario
  <li class="t-day timeline__day" data-t-date="$display.isoDate($dayView.day)">
		#if ($dayView.status == 'NotWorking')
        <div class="timeline__day-info timeline__day-info-date"><span class="timeline__date-day">$dayView.day.dayOfMonth</span>
            <span class="secondary-text">${display.day($dayView.day)}</span></div>

        <div class="timeline__day-info timeline__day-info-shift"></div>
        <div class="timeline__day-info timeline__day-info-action"><a
                href="/shifts/new?shiftDate=$display.isoDate($dayView.day)"
                class="t-add-shift action-button action-button--add" title="Add shift">Add shift</a></div>
		#elseif($dayView.status == 'WorkingOnly')
        <div class="timeline__day-info timeline__day-info-date"><span class="timeline__date-day">$dayView.day.dayOfMonth</span>
            <span class="secondary-text">${display.day($dayView.day)}</span></div>

        <div class="timeline__day-info timeline__day-info-shift">$dayView.rota.shiftType</div>
        <div class="timeline__day-info timeline__day-info-action">
            <a href="/swap/new?rotaId=$dayView.rota.rota.id" class="t-swap-shift action-button action-button--swap"
               title="Request swap">Request swap</a>
        </div>

		#elseif($dayView.status == 'OfferAwaitingVolunteers')
        <div class="timeline__day-info timeline__day-info-date"><span class="timeline__date-day">$dayView.day.dayOfMonth</span>
            <span class="secondary-text">${display.day($dayView.day)}</span></div>

        <div class="timeline__day-info timeline__day-info-shift">$dayView.rota.shiftType</div>
        <div class="timeline__day-info timeline__day-info-action">
					#foreach($offer in $dayView.rota.getOffers())
              <span class="action-button action-button--disabled action-button--wait"
                    title="In progress">In progress</span>
					#end
        </div>
        <div class="secondary-text timeline__day-info timeline__day-info-status t-status">
					#foreach($offer in $dayView.rota.getOffers())
              <a href="/swap/$offer.id">Swap requested.</a>
						<div>No replies.</div>
					#end
        </div>

		#elseif($dayView.status == 'OfferWithVolunteers')
        <div class="timeline__day-info timeline__day-info-date"><span class="timeline__date-day">$dayView.day.dayOfMonth</span>
            <span class="secondary-text">${display.day($dayView.day)}</span></div>

        <div class="timeline__day-info timeline__day-info-shift">$dayView.rota.shiftType</div>
        <div class="timeline__day-info timeline__day-info-action">
					#foreach($offer in $dayView.rota.offers)
              <span class="action-button action-button--disabled action-button--wait"
                    title="In progress">In progress</span>
					#end
        </div>
        <div class="secondary-text timeline__day-info timeline__day-info-status t-status">
					#foreach($offer in $dayView.rota.offers)
              Swap requested.
              <div class="volunteers">
                  <a class="t-link-swap-view" href="/swap/$offer.id">
								#foreach($volunteer in $offer.volunteers)
									$volunteer.swapFrom.worker.fullname#if($foreach.count>0 && !$foreach.last), #end
								#end
								#if($offer.volunteers.size()>1) have
								#else has
								#end
								replied.</a>
              </div>
					#end
        </div>

		#elseif($dayView.status == 'OfferAwaitingApproval')
        <div class="timeline__day-info timeline__day-info-date"><span class="timeline__date-day">$dayView.day.dayOfMonth</span>
            <span class="secondary-text">${display.day($dayView.day)}</span></div>

        <div class="timeline__day-info timeline__day-info-shift">$dayView.rota.shiftType</div>
        <div class="timeline__day-info timeline__day-info-action">
					#foreach($offer in $dayView.rota.offers)
              <span class="action-button action-button--disabled action-button--wait"
                    title="In progress">In progress</span>
					#end
        </div>
        <div class="secondary-text timeline__day-info timeline__day-info-status t-status">
					#foreach($offer in $dayView.rota.offers)
              <a class="t-link-swap-view" href="/swap/$offer.id">Swap agreed.</a>
							<div>
                 Awaiting approval.
							</div>
					#end
        </div>

		#elseif($dayView.status == 'OfferApproved')
        <div class="timeline__day-info timeline__day-info-date"><span class="timeline__date-day">$dayView.day.dayOfMonth</span>
            <span class="secondary-text">${display.day($dayView.day)}</span></div>

        <div class="timeline__day-info timeline__day-info-shift">$dayView.rota.shiftType</div>
        <div class="timeline__day-info timeline__day-info-action">
					#foreach($offer in $dayView.rota.offers)
              <span class="action-button action-button--disabled action-button--swapped"
                    title="In progress">In progress</span>
					#end
        </div>
        <div class="secondary-text timeline__day-info timeline__day-info-status t-status">
					#foreach($offer in $dayView.rota.offers)
							Approved.
              <div>
                  <a class="t-link-swap-view" href="/swap/$offer.id">Swapped</a> with $offer.acceptedVolunteer
              </div>
					#end
        </div>

		#elseif($dayView.status == 'OfferDenied')
        <div class="timeline__day-info timeline__day-info-date"><span class="timeline__date-day">$dayView.day.dayOfMonth</span>
            <span class="secondary-text">${display.day($dayView.day)}</span></div>

        <div class="timeline__day-info timeline__day-info-shift">$dayView.rota.shiftType</div>
        <div class="timeline__day-info timeline__day-info-action">
					#foreach($offer in $dayView.rota.offers)
              <span class="action-button action-button--disabled action-button--wait"
                    title="In progress">In progress</span>
					#end
        </div>
        <div class="secondary-text timeline__day-info timeline__day-info-status t-status">
					#foreach($offer in $dayView.rota.offers)
              <a href="/swap/$offer.id">Your swap</a>
              with $dayView.rota.acceptedVolunteer <span class="icon-arrow-right">for</span>
              <span class="t-offer-shift-type">$dayView.rota.offer.offer.swapTo.type</span>
              on $display.fullDate($dayView.rota.offer.offer.swapTo.date) has been denied
					#end
        </div>

		#elseif($dayView.status == 'Volunteered')
        <div class="timeline__day-info timeline__day-info-date"><span class="timeline__date-day">$dayView.day.dayOfMonth</span>
            <span class="secondary-text">${display.day($dayView.day)}</span></div>

        <div class="timeline__day-info timeline__day-info-shift">$dayView.rota.shiftType</div>
        <div class="timeline__day-info timeline__day-info-action">
					#foreach($offer in $dayView.rota.volunteers)
              <span class="action-button action-button--disabled action-button--wait"
                    title="In progress">In progress</span>
					#end
        </div>

        <div class="t-status secondary-text timeline__day-info timeline__day-info-status t-status">
					#foreach($volunteer in $dayView.rota.volunteers)
						#set($otherRota = $volunteer.swapTo.swapFrom)
						#if($volunteer.status == 'CREATED')
							Swap requested.
            <div><a href="/swap/$volunteer.swapTo.id">You have replied</a></div>
						#elseif($volunteer.status == 'ACCEPTED')
							$otherRota.worker.fullname accepted your offer to swap $dayView.rota.shiftType <span
                    class="icon-arrow-right">for</span> $otherRota.shift.type.label $otherRota.shift.type
                on $display.fullDate($otherRota.shift.date)
						#elseif($volunteer.status == 'APPROVED')
                You have swapped this shift with $otherRota.worker.fullname <span
                    class="icon-arrow-right">for</span>  $otherRota.shift.type.label $otherRota.shift.type
                on $display.fullDate($otherRota.shift.date)
						#elseif($volunteer.status == 'REJECTED')
							$otherRota.worker.fullname rejected your offer to swap $dayView.rota.shiftType <span
                    class="icon-arrow-right">for</span> $otherRota.shift.type.label $otherRota.shift.type
                on $display.fullDate($otherRota.shift.date)
						#elseif($volunteer.status == 'DENIED')
                The duty list compilers have denied your swap from $dayView.rota.shiftType <span
                    class="icon-arrow-right">for</span> $otherRota.shift.type.label $otherRota.shift.type
                with $otherRota.worker.fullname on $display.fullDate($otherRota.shift.date)
						#end
					#end
        </div>
    </li>
		#end
	#end
</ol>
#end
