#set($pageTitle = 'Sign in')
<div>
    <form action="/login" method="post">
        <fieldset>
            <legend>Sign in</legend>
            #if($param.error)
                Invalid username or password
            #end
            #if($param.logout)
                Successfully logged out
            #end
            <label for="username">Username:</label><input type="text" id="username" name="username"/>
            <label for="password">Password:</label><input type="password" id="password" name="password"/>
        </fieldset>
        <input id="submitBtn" class="button" type="submit" value="Sign in"/>
    </form>
</div>
