<nav class="header__menu">
    <!-- Menu bar -->
    <ul class="d2-d4 t2-t6 m1-m2 menubar">
        <li class="menubar__item">
            <a href="/" class="sprite-user#if($tab == 'home') selected#end"><span class="m-hide">You</span></a>
        </li>
        <li class="menubar__item">
            <a href="/timeline" class="sprite-users#if($tab == 'timeline') selected#end"><span class="m-hide">Timeline</span></a>
        </li>
        <li class="menubar__item menubar__item--right">
            <a href="./messages.html" class="sprite-envelop"><span class="msg-indicator">3</span></a>
        </li>
    </ul>
</nav>