#set($pageTitle = 'Swap details')

$swap.username wants to swap a $swap.fromShift shift at Heathrow, Terminal 3 on
$display.fullDate($swap.fromDate) for $swap.toShift on $display.fullDate($swap.toDate)

#if($swap.status == "OFFERED")
    <a href="/swap/$swap.id/volunteer">Volunteer to swap</a>
#end