#set($pageTitle = 'Swap view')

#set($accepted = $offer.offer.status.name() == 'ACCEPTED')
#if ($accepted)
	#set($volunteerText = "is volunteering")
#else
	#set($volunteerText = "volunteered")
#end

#set($approvedByHR = ($offer.status.name() == 'APPROVED'))
#if ($approvedByHR)
	#set($confirmedClass = "approved")
#else
	#set($confirmedClass = "accepted")
#end

#set($offererIsYou = ($offer.offer.swapFrom.worker.username == $sec.loggedInUser().get().getUsername()))

#if($offererIsYou)
	#set($offerer = "You")
	#set($offererClass = "you")
#else
	#set($offerer = $offer.offer.swapFrom.worker.username)
	#set($offererClass = "them")
#end

<h1>$display.fullDate($offer.offer.swapFrom.shift.date)</h1>
<ol class="events">

	#foreach($volunteer in $offer.volunteers)
		#set($volunteerIsYou = ($volunteer.swapFrom.worker.username == $sec.loggedInUser().get().getUsername()))

		#if($volunteerIsYou)
			#set($volunteerName = "You")
			#set($yourRota = $volunteer.swapFrom)
			#set($theirRota = $offer.offer.swapFrom)
			#set($volunteerClass = "you")
		#else
			#set($yourRota = $offer.offer.swapFrom)
			#set($theirRota = $volunteer.swapFrom)
			#set($volunteerName = $theirRota.worker.username)
			#set($volunteerClass = "them")
		#end

		#if ($accepted)
        <li class="event">
            <strong>Swap agreed.</strong> Waiting for HR to authorise.
            <div class="event__swap event__swap-confirmed event__swap-$confirmedClass">
                <div class="event__rota event__rota-you">
                    <div class="event__rota-person">You</div>
                    <div class="event__rota-shift">$yourRota.shift.type</div>
                    <time class="event__rota-date">$display.fullDate($yourRota.shift.date)</time>
                </div>
                <div class="event__rota event__rota-them">
                    <div class="event__rota-person">$theirRota.worker.username</div>
                    <div class="event__rota-shift">$theirRota.shift.type</div>
                    <time class="event__rota-date">$display.fullDate($theirRota.shift.date)</time>
                </div>
            </div>
					#if (!$approvedByHR)
              <div class="event__actions">
                  <form action="">
                      <div class="event__action">
                          <button class="submit-button" type="submit">Approved by HR</button>
                      </div>
                  </form>
                  <form action="">
                      <div class="event__action">
                          <button class="submit-button-secondary" type="submit">Rejected by HR</button>
                      </div>
                  </form>

              </div>
					#end
        </li>
		#end
      <li class="event event--$volunteerClass">
          <strong>$volunteerName</strong> $volunteerText to swap
          <div class="event__swap">
              <div class="event__rota event__rota-you">
                  <div class="event__rota-person">You</div>
                  <div class="event__rota-shift">$yourRota.shift.type</div>
                  <time class="event__rota-date" datetime="2014-10-15">$display.fullDate($yourRota.shift.date)</time>
              </div>
              <div class="event__rota event__rota-them">
                  <div class="event__rota-person">$theirRota.worker.username</div>
                  <div class="event__rota-shift">$theirRota.shift.type</div>
                  <time class="event__rota-date" datetime="2014-10-15">$display.fullDate($theirRota.shift.date)</time>
              </div>
          </div>
				#if (!$volunteerIsYou && $volunteer.status.name() == 'REQUESTED')
            <div class="event__actions">
                <form action="/swap/$offer.offer.id/volunteer/$volunteer.id/accept" method="POST">
                    <div class="event__action">
                        <button class="submit-button" type="submit">Accept offer</button>
                    </div>
                </form>
                <form action="/swap/$offer.offer.id/volunteer/$volunteer.id/reject" method="POST">
                    <div class="event__action">
                        <button class="submit-button-secondary" type="submit">No thanks</button>
                    </div>
                </form>
            </div>
				#end
					<a href="mailto:test@test.com?cc=bill@bill.com&amp;subject=Shift%20swap%20request&amp;body=$offer.offer.swapFrom.worker.username%20wants%20to%20swap%20a%20shift%20with%20$volunteer.swapFrom.worker.username.%0A%0A%20$offer.offer.swapFrom.worker.username%20is%20offering%20$offer.offer.swapFrom.shift.type.label%20$offer.offer.swapFrom.shift.type%20on%20$display.fullDate($offer.offer.swapFrom.shift.date)%0Ain%20exchange%20for%20$volunteer.swapFrom.shift.type.label%20$volunteer.swapFrom.shift.type%20on%20$display.fullDate($volunteer.swapFrom.shift.date).">Email for approval</a>
      </li>
	#end

    <li class="event event--offer event--$offererClass">
			$offerer offered to swap $offer.offer.swapFrom.shift.type.label $offer.offer.swapFrom.shift.type
        on $offer.offer.swapFrom.shift.date
        for $offer.offer.swapTo.type.label $offer.offer.swapTo.type on $offer.offer.swapTo.date
    </li>


</ol>