#* @vtlvariable name="rotasByMonth" type="java.util.Map<java.time.Month, java.util.List<uk.gov.homeofficedigital.swappr.controllers.views.RotaView>>" *#
#set($pageTitle = 'Timeline')
#set($tab = 'timeline')

#foreach($rotaMonth in $rotasByMonth.keySet())
	#set($rotaViews = $rotasByMonth.get($rotaMonth))

<table>
    <caption class="h1"><span class="secondary-text">All / </span>$display.month($rotaMonth)</caption>
    <thead class="hidden">
    <tr>
        <th scope=col class="table__cell--date">Date</th>
        <th scope=col class="table__cell--shift">Shift</th>
        <th scope=col class="table__cell--action">Action</th>
        <th scope=col class="table__cell--status">Status</th>
    </tr>
    </thead>
    <tbody>
			#if($rotaViews.isEmpty())
      <tr>
          <td colspan="2">No swaps</td>
      </tr>
			#end
			#foreach($rotaView in $rotaViews)
				#foreach($offer in $rotaView.getOffers())
					#if ($rotaView.rota.shift.date == $lastDate)
						#set($hiddenClass = " hidden")
					#else
						#set($hiddenClass = "")
					#end
        	<tr class="t-day" data-t-date="$display.isoDate($rotaView.rota.shift.date)">
            <td class="table__cell--date"><span class="$hiddenClass"><span class="table__day">$rotaView.rota.shift.date.dayOfMonth</span> <span
                    class="secondary-text">${display.day($rotaView.rota.shift.date)}</span></span></td>
            <td class="table__cell--shift"><strong>$offer.offer.swapFrom.worker.username</strong> wants to
                swap $offer.offer.swapFrom.shift.type.label <span class="table__shift-type">$offer.offer.swapFrom.shift.type</span> <span class="icon-arrow-right">for</span> $offer.offer.swapTo.type.label <span class="table__shift-type">$offer.offer.swapTo.type</span> on $display.fullDate($offer.offer.swapTo.date)</td>

            <td class="table__cell--action">
							#if($offer.offer.status.name() == 'APPROVED')
                  <span class="action-button action-button--disabled action-button--swapped"
                        title="Shift swapped">Shift swapped</span>
							#else
                  <form action="/swap/$offer.id/volunteer" method="post">
                      <button class="t-button-volunteer action-button action-button--swap" type="submit" title="Volunteer to swap">Volunteer</button>
                  </form>
							#end
            </td>
            <td class="secondary-text table__cell--status">
							#if ($offer.offer.status.name() != 'APPROVED')
								#if($offer.offer.swapFrom.worker.username == $sec.loggedInUser().get().getUsername())
                	You've <a href="/swap/$offer.id">offered to swap</a>
								#end
							#end
            </td>
        </tr>

					#set($lastDate = $rotaView.rota.shift.date)
				#end
			#end
    </tbody>
</table>
#end