#* @vtlvariable name="offersByMonth" type="java.util.Map<java.time.Month, java.util.List<uk.gov.homeofficedigital.swappr.controllers.views.OfferView>>" *#
#set($pageTitle = 'Timeline')
#set($tab = 'timeline')

#foreach($offerMonth in $offersByMonth.keySet())
	#set($offerViews = $offersByMonth.get($offerMonth))

<div class="timeline__heading-container">
    <h1 class="timeline__heading"><span class="secondary-text">All / </span>$display.month($offerMonth)</h1>
</div>
	#if($offerViews.isEmpty())
  <p>No swaps</p>
	#else
  <ol class="timeline__days">


			#foreach($offer in $offerViews)
				#if ($offer.fromShift().date == $lastDate)
					#set($hiddenClass = " hidden")
				#else
					#set($hiddenClass = "")
				#end
      <li class="t-day timeline__day" data-t-date="$display.isoDate($offer.fromShift().date)">
              <div class="timeline__day-info timeline__day-info-date"><span class="$hiddenClass"><span class="timeline__date-day">$offer.fromShift().date.dayOfMonth</span> <span
                      class="secondary-text">${display.day($offer.fromShift().date)}</span></span></div>
              <div class="timeline__day-info timeline__day-info-shift">
								#if($offer.offerForCurrentUser)
                    <strong>You</strong> want
								#else
                    <strong>$offer.offer.swapFrom.worker.fullname</strong> wants
								#end
                  to swap $offer.fromShift().type.label <span class="timeline__shift-type">$offer.fromShift().type</span> <span class="icon-arrow-right">for</span> $offer.offer.swapTo.type.label <span class="timeline__shift-type">$offer.offer.swapTo.type</span>
								#if(!$offer.sameDaySwap)
                    on $display.fullDate($offer.offer.swapTo.date)
								#end
							</div>

              <div class="timeline__day-info timeline__day-info-action">
								#if($offer.offer.status.name() == 'APPROVED')
                    <span class="action-button action-button--disabled action-button--swapped"
                          title="Shift swapped">Shift swapped</span>
								#elseif($offer.currentUserVolunteered)
                    <span class="action-button action-button--disabled action-button--wait"
                          title="Shift swapped">you have volunteered</span>
                                #else
                    <form action="/swap/$offer.id/volunteer" method="post">
                        <button class="t-button-volunteer action-button action-button--swap" type="submit" title="Volunteer to swap">Volunteer</button>
                    </form>
								#end
              </div>
              <div class="secondary-text timeline__day-info timeline__day-info-status">
								#if ($offer.offer.status.name() != 'APPROVED')
									#if($offer.offerForCurrentUser)
                      You've <a href="/swap/$offer.id">offered to swap</a>
                                    #elseif($offer.currentUserVolunteered)
                                        You have volunteered
									#end
								#end
              </div>
          </li>

				#set($lastDate = $offer.fromShift().date)
			#end
  </ol>
	#end
#end