#* @vtlvariable name="rotasByMonth" type="java.util.Map<java.time.Month, java.util.List<uk.gov.homeofficedigital.swappr.controllers.views.RotaView>>" *#
#set($pageTitle = 'Timeline')
#set($tab = 'timeline')

#foreach($rotaMonth in $rotasByMonth.keySet())
	#set($rotaViews = $rotasByMonth.get($rotaMonth))

<table>
    <caption class="h1"><span class="secondary-text">All / </span>$display.month($rotaMonth)</caption>
    <thead class="hidden">
    <tr>
        <th scope=col class="table__cell--date">Date</th>
        <th scope=col class="table__cell--shift">Shift</th>
        <th scope=col class="table__cell--action">Action</th>
        <th scope=col class="table__cell--status">Status</th>
    </tr>
    </thead>
    <tbody>
			#if($rotaViews.isEmpty())
      <tr>
          <td colspan="2">No swaps</td>
      </tr>
			#end
			#foreach($rotaView in $rotaViews)
				#foreach($offer in $rotaView.getOffers())
        <tr>
            <td class="table__cell--date"><span class="table__day">$rotaView.rota.shift.date.dayOfMonth</span> <span
                    class="secondary-text">${display.day($rotaView.rota.shift.date)}</span></td>
            <td class="table__cell--shift"><a href="/swap/$offer.id">$offer.swapFrom.worker.username</a> wants to
                swap $offer.swapFrom.shift.type for $offer.swapTo.type on $display.fullDate($offer.swapTo.date)</td>

            <td class="table__cell--action">
							#if($offer.status.name() == 'APPROVED')
                  <span class="action-button action-button--disabled action-button--swapped"
                        title="Shift swapped">Shift swapped</span>
							#else
                  <span class="action-button action-button--disabled action-button--wait"
                        title="In progress">In progress: $offer</span>
							#end
            </td>
            <td class="secondary-text table__cell--status">
							#if ($offer.status.name() != 'APPROVED')
								#if($offer.swapFrom.worker.username == $sec.loggedInUser().get().getUsername())
                    You've offered to swap
								#else
                	<form action="/swap/$offer.id/volunteer" method="post">
                    <button class="submit-button" type="submit">Volunteer</button>
									</form>
								#end
							#end
            </td>
        </tr>
				#end
			#end
    </tbody>
</table>
#end