#set($pageTitle = 'User Admin - add user')
<h1>Add user</h1>
<div>
    <form action="/admin/users/add" method="post">
        <div #if($status.errors.hasErrors()){ class="erros" }#end>
        <div class="form-group">

            <label class="label-inline" for="username">Username:</label>
					#springFormInput("user.username" "")
					#springShowErrors("" "error")
        </div>
        <div class="form-group">

            <label class="label-inline" for="password">Password:</label>
					#springFormPasswordInput("user.password" "")
					#springShowErrors("" "error")
        </div>
        <div class="form-group">

            <label class="label-inline" for="confirmPassword">Confirm password</label>
					#springFormPasswordInput("user.confirmPassword" "")
					#springBind("user.matchingPassword")
					#springShowErrors("" "error")
        </div>
        </div>
        <input id="submitBtn" class="submit-button" type="submit" value="Add"/>
    </form>
</div>