#set($pageTitle = 'User Admin')
<h1>User Admin</h1>
<div>
    <form action="/admin/users/add" method="post">
        <fieldset #if($status.errors.hasErrors()){ class="erros" }#end>
            <legend>Add user</legend>
            <label for="username">Username:</label>
            #springFormInput("user.username" "")
            #springShowErrors("" "error")

            <label for="password">Password:</label>
            #springFormPasswordInput("user.password" "")
            #springShowErrors("" "error")

            <label for="confirmPassword">Confirm password</label>
            #springFormPasswordInput("user.confirmPassword" "")
            #springBind("user.matchingPassword")
            #springShowErrors("" "error")
        </fieldset>
        <input id="submitBtn" class="button" type="submit" value="Sign in"/>
    </form>
</div>