#set($pageTitle = 'User Admin - reset password')
<h1>Reset password</h1>
<div>
    <form action="/admin/users/reset-password" method="post">
			#if ($!status && $status.errorMessages.size() > 0)
          <div class="form__error-summary">
						#springShowErrors("" "form__error")
          </div>
			#end
        <div class="form-group">

            <label class="label-inline" for="username">Username:</label>
					#springFormSingleSelect("user.username" $userMap "")
					#if ($status.errorMessages.size() > 0)
              <div class="form-right-column">
								#springShowErrors("" "form__error")
              </div>
					#end
				</div>
        <div class="form-group">

            <label class="label-inline" for="password">Password:</label>
					#springFormPasswordInput("user.password" "")
					#if ($status.errorMessages.size() > 0)
              <div class="form-right-column">
								#springShowErrors("" "form__error")
              </div>
					#end
        </div>
        <div class="form-group">

            <label class="label-inline" for="confirmPassword">Confirm password</label>
					#springFormPasswordInput("user.confirmPassword" "")
					#springBind("user.matchingPassword")
					#if ($status.errorMessages.size() > 0)
              <div class="form-right-column">
								#springShowErrors("" "form__error")
              </div>
					#end
        </div>
			<div class="form-right-column form-submit">
					<input class="submit-button" type="submit" value="Update"/>
			</div>
    </form>
</div>