body {
    font: 19px/24px sans-serif;
}
hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #f4f4f4;
    margin: 1em 0;
    padding: 0;    
}
h2 {line-height: 32px;}
.homeoffice {color: #9325b2;}
/* LoVe HAte */
a:link { color: #005ea5; text-decoration: none;}
a:visited { color: #2e8aca;}
a:hover { color: #2e8aca;}
a:active { /*border: 3px solid #FFBF47;*/} 
header {
	border-top: 3px solid #9325b2;
	background-color: #f8f8f8;
	height: 60px;
	width: 100%;
	margin-bottom: 50px;
}
nav {
}
header p {
	font-size: 14px;
	text-align: right;
}
header p img {
	padding-left: 10px;
}
.brand h1{
	font-size: 24px;
}
.alpha {
	color: #9325b2;
	font-weight: 400;
}
.text-secondary{
  /*color: #9B9B9B;*/
  /*color: #6d6d6d;*/
  color: #767676;
  font-weight: 400;
}
.msg-indicator {
	font-weight: bold;
	background-color: #f8f8f8;
	padding: 4px 6px 4px 6px;
}
.menubar img {
	padding: 0 5px 5px 5px;
}
.menubar a {
	color: #9325b2;
	margin-right: 15px;
	padding: 0 10px 10px 10px;
	border-bottom: 6px solid transparent;
}
.menubar a:hover, .menubar a.selected {border-bottom: 6px solid #9325b2;}
.menubarmsg {text-align: right;}
.align-center {text-align: center;}
.align-right {text-align: right; margin-right: 5px;}
.swap-offer-box {
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 6px;
    padding: 5px;
}
.swap-agreed-box {
    text-align: center;
    /*background-color: rgba(147,37,178,0.3);*/
    background-color: rgba(0,94,165,0.2);
    border-radius: 6px;
    padding: 5px;
}
table {
    margin: 25px 0 25px 0;
    width: 100%;
}
th {
    padding: 10px 0 10px 5px;
    width: 10%;
    text-align: left;
}
.over4hrs {border-left: 6px solid red;}
.over1hr {border-left: 6px solid orange;}
.under1hr {border-left: 6px solid green;}
tbody td {
    border-left: 0px;
    border-right: 0px;
    padding: 15px 0 15px 0;
    margin: 0;
    font-size: 16px;
    vertical-align: text-top;
    /* debugging border: 1px solid #f8f8f8; */
}
tbody tr {
	border-top: 1px solid #ccc;
}
tbody tr:last-child {
	border-bottom: 1px solid #ccc;
}
.row-date {width: 20%; font-weight: bold;}
.row-shift {width: 40%;}
.row-controls {width:10%; text-align: center;}
.row-request {width: 30%;  color: #9B9B9B;}
.row-add {width:20%; text-align: right;}
.row-add img {padding-right: 10px; padding-bottom: 3px;}
.row-timeline {width:60%;}
.row-newindicator {width: 5%; padding-left: 10px;}
.row-sender {width: 25%;}
.row-subject {width: 50%;}
.row-sent {width: 20%; text-align: right; padding-right: 10px;}
.row-sender a, .row-subject a {color: #000;}
tbody tr:hover {
    background-color: rgba(74,144,226,0.17);
}
td.longfield {width: 25%;}
tr td:first-child {
    border-left: 6px solid white;
    padding: 20px 0 20px 5px; 
}
tr.rowselected {background-color: rgba(74,144,226,0.17);}
tr.rowopen {background-color: #f8f8f8; }
tr.rowopen td {padding-left: 5px;}
tbody tr.rowopen:hover {background-color: transparent;}
.optionbox { 
    background-color: #f8f8f8;
    padding-left: 5px;
}
label {
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 50px;
    /*display: block;*/
}
input {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #bfc1c3;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.31579;
    padding: 4px;
    text-transform: none;
}
input:focus, select:focus {
    outline: 3px solid #9325b2;
}
select {
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    background-color: #fff;
    border: 1px solid #bfc1c3;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.31579;
    padding: 5px;
    text-transform: none;
    width: 50%;
    margin-top: -15px;
}
input, select {
    display: inline; 
    width: auto; 
    margin-bottom: 15px;
}
form.frm_profile label {
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
    padding-bottom: 5px;
}
form.frm_profile input {width: 300px;}
form.frm_profile select {width: auto;}

.button {
    font-size: 16px;
    background-color: #f8f8f8;
    line-height: 1.25em;
    display: inline-block;
    border: 1px solid #9325b2;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0.75em 1.75em 0.5em 1.75em;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}
.button-secondary {
    border: 1px solid transparent;
    background-color: transparent;
}
.button-disabled {
    color: #999;
    border: 1px solid #f8f8f8;
    cursor: not-allowed;;
}
.button-disabled a {color: #666;}
.icon-button {
    /* border: 1px solid #005ea5; */
    border: 1px solid #9325b2;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
}
.icon-button-disabled {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
}
.button-small {
    font-size: 14px;
    line-height: 18px;
    background-color: #f8f8f8;
    /*line-height: 1.25em;*/
    display: inline-block;
    border: 1px solid #9325b2;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0.5em 1em;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}
ul.confirm-dates {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    margin-left: -8px;
}
ul.confirm-dates li {
    text-align: left;
} 
blockquote {
    margin: 0;
    padding-left: 35px;
    padding-bottom: 15px;
    border-left: 3px solid #9325b2;
}
.notification {
    background-color: rgba(248,231,28,0.1);
    border: 1px solid rgb(248,231,28);
    padding: 6px;
}
.notification img {
    margin-right: 15px;
}
.row-confirmation {background-color: rgba(248,231,28,0.1);}
.shift-offer-list { 
    padding: 0px; 
    margin-top: 12px; 
    padding-left: 25px;
}
.read-message {
    background-color: #f8f8f8; 
    padding: 10px 0px 10px 5px; 
    border-top: 1px solid #ccc; 
    border-bottom: 3px solid #9325b2;
}
.reply-message {
    padding-left: 5px;
}

.checkbox {
    font-size: 16px;
    font-weight: 400;
}

.shiftcode {
    margin-left: 10px;
}

.makeoffer {
    background-color: rgba(147,37,178,0.1);
}
.makeoffer td:hover {
    background-color: transparent;
}

#reveal_makeoffer {display: none;}

footer {
	background-color: #f8f8f8;
	height: 40px;
	width: 100%;
	margin-top: 50px;
	padding-top:120px;
	padding-bottom: 0;
	margin-bottom: 0;	
}
footer p {font-size: 14px; color:#999;}

ul.calendar-list {width: 100%;}
ul.calendar-list li {display: inline; font-size: 16px; border: 1px solid #f8f8f8;}

/* m-screen media queries */
@media only screen and (min-width:320px) and (max-width:768px) {

    table, thead, tbody, th, tr {display: block;}
    table {width: 100%;}
    th {width:100%;}
    tbody td, th {
        padding: 5px 0;
        border: 1px solid #f8f8f8; 
    }
    .row-date {
        display: block;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    .row-shift {width: 100%; font-size: 24px;}
    .row-shift small {font-size: 14px;}
    .row-request {
        width: 100%;
        color: #9B9B9B;
    }
    .row-add {
        width:100%; 
        text-align: right;
    }
    .row-add img {
        padding-right: 10px; 
        padding-bottom: 3px;
    }
    tbody td.row-add {display:none;}
    .row-timeline {width:100%;}
    .row-newindicator {
        width: 5%; 
        padding-left: 10px;
    }
    .row-sender {width: 100%;}
    .row-subject {width: 100%;}
    .row-sent {
        width: 100%; 
        text-align: right; 
        padding-right: 10px;
    }
    a.button {
        width: 70%;
        display: block; 
        text-align: center; 
        padding: 20px 40px 20px 40px;
    }

}

