
.sprite-checkmark{ background-position: 0 0; width: 16px; height: 16px; }
.sprite-clock{ background-position: 0 -66px; width: 16px; height: 16px; }
.sprite-cog{ background-position: 0 -132px; width: 16px; height: 16px; }
.sprite-info{ background-position: 0 -280px; width: 16px; height: 16px; }
.sprite-plus{ background-position: 0 -408px; width: 16px; height: 16px; }
.sprite-plus16{ background-position: 0 -474px; width: 32px; height: 32px; }
.sprite-newmsg{ background-position: 0 -346px; width: 12px; height: 12px; }
