/*
 * Typography styles
 *
 * Requires: [colours]
 */

/* Defaults */
$text__family-sans: sans-serif;
$base__font-size: 16;
$base__line-height: 22;
$base__font-size--small: 14;
$base__line-height--small: 19;
$base__font-size--large: 19;
$base__line-height--large: 24;

/* mixins */
@mixin text( $size, $line, $family: $text__family-sans, $color: $text__colour--primary, $weight: normal ) {
  font-size: calc-em($size);
  line-height: ($line/$size);
  font-family: $family;
  font-weight: $weight;
  color: $color;
}

/* Styles */
html {
  font-size: $base__font-size * 1px;
}

body {
  @include text( $base__font-size, $base__line-height, $color: $text__colour--primary );
}

h1 {
  @include text( 24, 24, $color: $text__colour--primary, $weight: bold );
  margin: 16px 10%;
}

a {
  color: $link__colour;
  text-decoration: none;
  &:hover, :focus, :active {
    color: $link__colour--hover;
  }
}

.highlight {
  background-color: $background__colour--theme--secondary;
  padding: 4px 6px 4px 6px;
}