/*
 *
 * Swappr styles
 *
 */

//Base rules and utilities
@import "base/normalize";
@import "base/resets";
@import "base/conditionals";
@import "base/helpers";
@import "base/shims";
@import "base/colours";
@import "base/icons";
@import "base/typography";
@import "base/forms";
@import "base/tables";
@import "base/buttons";

//common compile!

//Module rules
@import "modules/header";
@import "modules/navbar";
@import "modules/content";
@import "modules/footer";
@import "modules/notification";