/*
 * Form styles
 *
 * Requires: [conditionals, colours, typography]
 */

.submit-button {
  @include text($base__font-size--small, 40, $color: $link__colour--hover, $weight: bold);
  @include border-radius(6px);
  background-color: $background__colour--theme--secondary;
  border: 1px solid $background__colour--theme--primary;
  clear: both;
  cursor: pointer;
  display: inline-block;
  padding: 0 1.75em;

  @include ie-lte(7) {
    display: inline;
    zoom: 1;
  }
}

.submit-button-secondary {
  @extend %button-reset;
  @include text($base__font-size--small, 40, $color: $link__colour--hover, $weight: bold);
}

.submit-button--right-lowered {
  @include media(tablet) {
    float: right;
    margin-bottom: -40px;
  }
}

.action-button {
  @extend %button-reset;
  @include border-radius(50%);
  @extend %icon-text-replace;
  border: 1px solid $border__colour--theme;
  display: block;
  height: 26px;
  width: 26px;
}

.action-button--disabled {
  border: 1px solid $border__colour--dark;
}

.action-button--swap {
  &:before {
    @extend %icon-swap;
  }
}

.action-button--swapped {
  &:before {
    @extend %icon-swapped;
  }
}

.action-button--wait {
  &:before {
    @extend %icon-wait-disabled;
  }
}

.action-button--add {
  &:before {
    @extend %icon-add;
  }
}
