/*
 * Form styles
 *
 * Requires: [conditionals, colours, typography]
 */

.submit-button {
  @include text($base__font-size, 40, $color: $link__colour--hover, $weight: bold);
  background-color: $background__colour--theme--secondary;
  border: 1px solid $background__colour--theme--primary;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  clear: both;
  cursor: pointer;
  display: inline-block;
  padding: 0 1.75em;

  @include ie-lte(7) {
    display: inline;
    zoom: 1;
  }
}

.action-button {
  background: transparent url(/images/swappr.png) no-repeat top left;
  border: 1px solid $border__colour--theme;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 26px;
  padding: 26px 0 0 0;
  height: 0;
  overflow: hidden;
}

.action-button--disabled {
  @extend .action-button;
  border: 1px solid $border__colour--dark;
}

.action-button--swap {
  background-position: 5px -917px;
}

.action-button--swapped {
  background-position: 5px -854px;
}

.action-button--wait {
  background-position: 5px -791px;
}

.action-button--add {
  background-position: 5px -982px;
}