/*
 * Colours
 *
 * Requires: []
 */

$text__colour--theme: #9325b2;
$text__colour--primary: #222222;
$text__colour--secondary: #9b9b9b;

$background__colour--theme--primary: #9325b2;
$background__colour--theme--secondary: #f8f8f8;
$background__colour--theme--hover: #e1ecfc;

$link__colour: #005ea5;
$link__colour--hover: #2e8aca;

$border__colour--theme: #9325b2;
$border__colour--light: #f4f4f4;
$border__colour--dark: #cccccc;

$text__colour--error: #ff0000;
$background__colour--error: #fff4fb;

$text__colour--notification: #f8e71c;
$background__colour--notification: #fefce7;

$background__colour--swap: #cbdeec;

$white: #ffffff;
$black: #000000;
