/*
 * Form styles
 *
 * Requires: [conditionals, colours, typography]
 */

form {
  @extend %contain-floats;
  margin-bottom : 15px;
}

input,
select,
textarea {
  float: left;
  margin-bottom: 15px;

  &:focus {
    outline: 0;
    border: 3px solid $background__colour--theme--primary;
  }
}

.input--two-digit {
  text-align: center;
  width: 2em;
}

.input--four-digit {
  text-align: center;
  width: 3em;
}

fieldset {
  background: $background__colour--theme--secondary;
  border: 0;
  float: left;
  margin-bottom : 15px;
}

legend {
  @extend h3;
  float: left;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  clear: both;
  &.block-label {
    clear: none;
    float: left;
    margin-right: 15px;
    span {
      display: block;
    }
  }
}

.error {
  color: $text__colour--error;
  display: block;
}

