/*
 * Form styles
 *
 * Requires: [conditionals, colours, typography]
 */

form {
  @extend %contain-floats;
  margin-bottom : 15px;
}

fieldset {
  border: 0;
  margin: 0 0 15px;
  padding: 0;
}

.intro {
  border-bottom: 1px solid $border__colour--light;
  float: left;
  margin-bottom: 15px;
  padding: 15px 0;
  width: 100%;
}

input,
select,
textarea {
  background-color: $white;
  border: 1px solid #bfc1c3;
  border-radius: 0;

  &:focus {
    outline: 3px solid $background__colour--theme--primary;
  }
}

.input--two-digit {
  float: none;
  display: inline-block;
  text-align: center;
  width: 2em;
}

.input--four-digit {
  float: none;
  display: inline-block;
  text-align: center;
  width: 3em;
}

label {
  @extend .h3;
  clear: left;
  float: left;
  width: 20%;
}

[type=submit],
[type=checkbox] {
  @include gutter('left', 20%);
}
//fieldset {
//  border: 0;
//  float: left;
//  margin-bottom : 15px;
//}
//
//legend {
//  @extend h3;
//  float: left;
//  width: 100%;
//}
//
//label {
//  display: block;
//  font-weight: bold;
//  clear: both;
//  &.block-label {
//    clear: none;
//    float: left;
//    margin-right: 15px;
//    span {
//      display: block;
//    }
//  }
//}

.error {
  color: $text__colour--error;
  display: block;
}


.form-group {
  display: inline-block;
}

.form-group__fixed-medium {
  width: 20%;
}

.form-submit {
  margin-top: 25px;
}