/*
 * Form styles
 *
 * Requires: [conditionals, colours, typography]
 */

form {
  @extend %contain-floats;
  margin-bottom : 15px;
}

fieldset {
  border: 0;
  margin: 0 0 15px;
  padding: 0;
}

.intro {
  border-bottom: 1px solid $border__colour--light;
  float: left;
  margin-bottom: 15px;
  padding: 15px 0;
  width: 100%;
}

input,
select,
textarea {
  @include text($base__font-size--small);
  background-color: $white;
  border: 1px solid #bfc1c3;
  border-radius: 0;
  padding: 0;
  &:focus {
    outline: 3px solid $background__colour--theme--primary;
  }
}

.input--two-digit {
  float: none;
  display: inline-block;
  text-align: center;
  width: 2em;
}

.input--four-digit {
  float: none;
  display: inline-block;
  text-align: center;
  width: 3em;
}

.label-inline {
  font-weight: bold;
  clear: left;
  float: left;
  width: 20%;
}

.form-right-column {
  @include gutter('left', 20%);
}
.form-submit {
  margin-top: 25px;
}

//fieldset {
//  border: 0;
//  float: left;
//  margin-bottom : 15px;
//}
//
//legend {
//  @extend h3;
//  float: left;
//  width: 100%;
//}
//
//label {
//  display: block;
//  font-weight: bold;
//  clear: both;
//  &.block-label {
//    clear: none;
//    float: left;
//    margin-right: 15px;
//    span {
//      display: block;
//    }
//  }
//}

.form__error {
  @include text($base__font-size--small);
  color: $text__colour--error;
  display: block;
}

.form__error-summary {
  border: 2px solid $text__colour--error;
  display: inline-block;
  margin-bottom: 15px;
  padding: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group-inline-container {
  font-size: 0;
}

.form-group-inline {
  @include calc-rem($base__font-size);
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
}

.form-group-fixed-medium {
  padding-right: 0;
  width: 20%;
}
