/*
 * Helper styles and utility functions
 *
 * Requires: []
 */

//Hide accessible text from view
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

@include media(mobile) {
  .m-hide {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
}

//Defines left and/or right main page gutters
//TODO: refactor to be a little more efficient/less duplicated. Or just find a better way of doing it :-p
@mixin gutter( $lr: both, $size: 10%, $setFullWidth: false ) {
  @include media(mobile){
    @if( $lr == left ) {
      margin-left: $size/10;
    } @else if( $lr == right ) {
      margin-right: $size/10;
    } @else {
      margin-left:  $size/10;
      margin-right:  $size/10;
    }
    @if( $setFullWidth ) { width: 100-2*$size/10; }
  }

  @include media(tablet){
    @if( $lr == left ) {
      margin-left: $size/2;
    } @else if( $lr == right ) {
      margin-right: $size/2;
    } @else {
      margin-left:  $size/2;
      margin-right:  $size/2;
    }
    @if( $setFullWidth ) { width: 100-2*$size/2; }
  }

  @include media(desktop) {
    @if ($lr == left) {
      margin-left: $size;
    } @else if ($lr == right) {
      margin-right: $size;
    } @else {
      margin-left: $size;
      margin-right: $size;
    }
    @if ($setFullWidth) {
      width: 100-2*$size;
    }
  }
}
//TODO: use rem?
@function calc-em($target, $context: $base__font-size) {
  @return ($target / $context) * 1em;
}