%icon-sprite {
  background-image: url(/images/swappr.png);
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 16px;
  width: 16px;
}

%icon {
  @extend %icon-sprite;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

%icon-text-replace {
  position: relative;
  font-size: 0;
  &:before {
    @extend %icon;
    left: 50%;
    margin-left: -8px;
  }
}

.icon-arrow-right {
  display: inline-block;
  font-size: 0;
  height: 16px;
  width: 16px;
  &:before {
    @extend %icon-sprite;
    @extend %icon-arrow-right;
  }
}

%icon-wait {
  background-position: 0 -66px;
}

%icon-wait-disabled {
  background-position: 0 -796px;
}

%icon-swapped {
  background-position: 0 -859px;
}

%icon-swap {
  background-position: 0 -922px;
}

%icon-add {
  background-position: 0 -987px;
}

%icon-arrow-right {
  background-position: 0 -1050px;
}