/*
 * Table styles
 *
 * Requires: [colours]
 */

table {
  margin-bottom: 50px;
  width: 100%;
}

caption {
  text-align: left;
}

tbody {
  @include calc-rem($base__font-size--small);
  border-top: 1px solid $border__colour--dark;
}

tr {
  border-bottom: 1px solid $border__colour--dark;
}

th,
td {
  padding: 20px 5px;

  &.table__cell--date {
    width: 20%;
  }

  &.table__cell--action {
    width: 10%;
  }

  &.table__cell--shift {
    width: 40%;
  }

  &.table__cell--status  {
    width: 30%;
  }
}

.table__day {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.table__shift-type {
  color: $text__colour--secondary;
  font-size: 0.9em;
}