/*
 * Table styles
 *
 * Requires: [colours]
 */

table {
  margin-bottom: 25px;
  width: 100%;
}

caption {
  text-align: left;
}

tbody {
  border-top: 1px solid $border__colour--dark;
}

tr {
  border-bottom: 1px solid $border__colour--dark;

  &:hover {
    background-color: $background__colour--theme--hover;
  }
}

th,
td {
  padding: 20px 5px;

  &.table__cell--date {
    width: 20%;
  }

  &.table__cell--action {
    width: 10%;
  }

  &.table__cell--shift {
    width: 40%;
  }

  &.table__cell--status  {
    width: 30%;
  }
}
