/*
 * Typography styles
 *
 * Requires: [colours]
 */

/* Defaults */
$text__family-sans: sans-serif;
$base__font-size: 19;
$base__line-height: 26;
$base__font-size--small: 16;
$base__line-height--small: 22;
$base__font-size--large: 24;
$base__line-height--large: 32;
$base__font-size--xlarge: 28;
$base__line-height--xlarge: 36;

/* mixins */
@mixin text( $size, $line: 1.375, $family: $text__family-sans, $color: $text__colour--primary, $weight: normal ) {
  @include calc-rem($size);
  line-height: ($line/$size);
  font-family: $family;
  font-weight: $weight;
  color: $color;
}

/* Styles */
html {
  font-size: $base__font-size * 1px;
}

body {
  @include text( $base__font-size, $base__line-height, $color: $text__colour--primary );
}

h1,
.h1 {
  @include text( $base__font-size--xlarge, $base__line-height--xlarge, $color: $text__colour--primary, $weight: bold );
  margin: 15px 0;
}

h3,
.h3{
  @include text( $base__font-size, $base__line-height, $color: $text__colour--primary, $weight: bold );
  margin: 1em 0;
}

a {
  color: $link__colour;
  text-decoration: none;
  &:hover, :focus, :active {
    color: $link__colour--hover;
  }
}

.secondary-text {
  color: $text__colour--secondary;
  font-weight: normal;
}

.highlight {
  background-color: $background__colour--theme--secondary;
  padding: 4px 6px 4px 6px;
}