/*
 * Swappr styles
 */

//Base rules and utilities
@import "base/normalize";
@import "base/conditionals";
@import "base/helpers";
@import "base/shims";
@import "base/colours";
@import "base/typography";
@import "base/images";

//Module rules
@import "modules/header";
@import "modules/navbar";
@import "modules/footer";
