[class*='sprite-'] { background: url(images/swapper.png) no-repeat top left; }
.sprite-user{ background-position: 0 -556px; width: 32px; height: 32px; }
.sprite-users{ background-position: 0 -638px; width: 32px; height: 32px; }
.sprite-envelop{ background-position: 0 -198px; width: 32px; height: 32px; }
